* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button:hover, .todos_container .todo_status:hover {
    cursor: pointer;
}

.title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    text-decoration-line: underline;
    margin-top: 35px;
}

.todos_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.todos_container .todo {
    padding: 10px;
    display: flex;
    align-items: center;
}

.todos_container .todo_text {
    font-size: 15px;
    width: 300px;
    height: 40px;
    margin: 0 10px 0 10px;
    border-radius: 25px;
    padding: 4px 15px 4px 15px;
    border: 1px solid orange;
    display: flex;
    align-items: center;
}

.todos_container button {
    background-color: red;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 4px;
    width: 20px;
    height: 20px;
}

.todos_container button span {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.new_todo_container {
    position: fixed;
    display: flex;
    width: 35%;
}

.new_todo_container .new_todo_text {
    padding: 16px 24px 16px 24px;
    outline: none;
    border: orange solid 1px;
    border-radius: 35px;
    font-size: 16px;
    box-shadow: 0 0 10px orange;
    flex: 1;
    margin-right: 15px;
}

.new_todo_container button {
    background-color: orange;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;
}

.new_todo_container button span {
    color: white;
    text-decoration: none;
}

.add_new_todo {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 25px;
    padding: 6px 10px 6px 10px;
    outline: none;
    border-radius: 25px;
    color: white;
    background-color: orange;
    box-shadow: 0 0 10px grey;
    border: 1px solid white;
}

.add_new_todo span {
    margin-right: 6px;
    text-decoration: none;
}

/* JS properties */

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

.blur {
    filter: blur(4px);
}

.line_through {
    text-decoration-line: line-through;
    color: grey;
}